<app-card cdkDropListGroup>
  <app-button
    label="+"
    type="primary"
    size="medium"
    (click)="openAddTaskDialog()"
  ></app-button>
  <div class="example-container">
    <h2>To do</h2>

    <div
      cdkDropList
      [cdkDropListData]="todo"
      class="example-list"
      (cdkDropListDropped)="drop($event)"
    >
      @for (item of todo; track item) {
      <div class="example-box" cdkDrag>{{ item.title }}</div>
      }
    </div>
  </div>

  <div class="example-container">
    <h2>In Progress</h2>

    <div
      cdkDropList
      [cdkDropListData]="inprogress"
      class="example-list"
      (cdkDropListDropped)="drop($event)"
    >
      @for (item of inprogress; track item) {
      <div class="example-box" cdkDrag>{{ item.title }}</div>
      }
    </div>
  </div>

  <div class="example-container">
    <h2>Done</h2>

    <div
      cdkDropList
      [cdkDropListData]="done"
      class="example-list"
      (cdkDropListDropped)="drop($event)"
    >
      @for (item of done; track item) {
      <div class="example-box" cdkDrag>{{ item.title }}</div>
      }
    </div>
  </div>
</app-card>
