<div class="tab-container">
  <mat-tab-group
    [(selectedIndex)]="selectedBoardIndex"
    (selectedIndexChange)="onBoardChange($event)"
  >
    <mat-tab *ngFor="let board of boards; index as i">
      <ng-template mat-tab-label>
        <span>{{ board.title }}</span>
        <button class="close-btn" (click)="deleteBoard(board.id, i)">
          <mat-icon>close</mat-icon>
        </button>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
  <app-dashboard [currentUpdatedBoard]="currentUpdatedBoard"></app-dashboard>
  <!-- Botón para crear nuevo tablero -->
  <button (click)="addBoard()">+ Add Board</button>
</div>
