div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  cursor: default;

  mat-tab-group {
    background-color: #f5f5f5; // Fondo del grupo de pestañas
    border-radius: 8px; // Bordes redondeados
    box-shadow: #333;
    cursor: default;
    align-items: start;
    mat-tab-label {
      display: flex;
      cursor: default;
      padding: 0.25rem 1rem; // Tamaño reducido del tab

      span:first-child {
        flex: 1; // Ocupa todo el espacio disponible
        text-align: left; // Título alineado a la izquierda
      }

      mat-tab-label span.dark-title {
        color: #333;
      }

      mat-tab-label span.light-title {
        color: #fff;
      }

      div {
        margin-left: auto; // Lleva el botón al extremo derecho
        display: flex;
        align-items: start;
        cursor: default;

        mat-icon {
          font-size: 16px;
          color: #ff0000; // Color del ícono "close"
          transition: color 0.2s ease-in-out;

          &:hover {
            color: #d32f2f; // Cambiar color al pasar el cursor
          }
        }
      }
    }

    .delete-button {
      margin-left: 18px;
    }

    .delete-button:hover {
      color: #d26f6f;
      cursor: default;
      // Cambiar color al pasar el cursor
    }

    mat-tab-header {
      background-color: #eeeeee; // Fondo del header de pestañas
      border-bottom: 2px solid #ccc;
      min-height: 32px; // Reducimos la altura del header
      cursor: default;
      .mat-tab-label {
        font-size: 12px; // Texto más pequeño
        padding: 0.25rem 1rem; // Tamaño reducido del tab
        margin-left: 1rem;
        text-transform: none;
      }

      .mat-tab-label-active {
        font-weight: bold;
        color: #3f51b5; // Color del texto activo
      }
    }
  }

  button {
    align-self: flex-start;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem 1rem;
    background-color: #3f51b5;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: default;
    transition: background-color 0.3s;
    margin-top: -100px;

    mat-icon {
      font-size: 20px;
    }

    &:hover {
      background-color: #303f9f;
    }
  }
}
