div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  cursor: default;

  mat-tab-group {
    background-color: #f5f5f5;
    border-radius: 8px;
    box-shadow: #333;
    cursor: default;
    align-items: start;
    mat-tab-label {
      display: flex;
      cursor: default;
      padding: 0.25rem 1rem;

      span:first-child {
        flex: 1;
        text-align: left;
      }

      mat-tab-label span.dark-title {
        color: #333;
      }

      mat-tab-label span.light-title {
        color: #fff;
      }

      div {
        margin-left: auto;
        display: flex;
        align-items: start;
        cursor: default;

        mat-icon {
          font-size: 16px;
          color: #ff0000;
          transition: color 0.2s ease-in-out;

          &:hover {
            color: #d32f2f;
          }
        }
      }
    }

    .delete__button {
      margin-left: 18px;
    }

    .delete__button:hover {
      color: #d26f6f;
      cursor: default;
    }

    mat-tab-header {
      background-color: #eeeeee;
      border-bottom: 2px solid #ccc;
      min-height: 32px;
      cursor: default;
      .mat-tab-label {
        font-size: 12px;
        padding: 0.25rem 1rem;
        margin-left: 1rem;
        text-transform: none;
      }

      .mat-tab-label-active {
        font-weight: bold;
        color: #3f51b5;
      }
    }
  }

  button {
    align-self: flex-start;
    display: flex;
    align-items: center;
    padding: 0.5rem 0.5rem;
    background-color: #3f51b5;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: default;
    transition: background-color 0.3s;

    mat-icon {
      font-size: 20px;
    }

    &:hover {
      background-color: #303f9f;
    }
  }
}
