<div>
  <mat-tab-group
    [(selectedIndex)]="selectedBoardIndex"
    (selectedIndexChange)="onBoardChange($event)"
  >
    <mat-tab *ngFor="let board of boards; index as i">
      <ng-template mat-tab-label>
        <span
          [ngClass]="{
            'dark-title': currentTheme === 'grey',
            'light-title': currentTheme === 'white'
          }"
          >{{ board.title }}</span
        >
        <mat-icon class="delete-button" (click)="deleteBoard(board.id, i)"
          >close</mat-icon
        >
      </ng-template>
    </mat-tab>
  </mat-tab-group>
  <app-dashboard [currentUpdatedBoard]="currentUpdatedBoard"></app-dashboard>
  <!-- Botón para crear nuevo tablero -->
  <button (click)="addBoard()"><mat-icon>add</mat-icon> Add Board</button>
</div>
