$primary-color: #50a2a7;
$secondary-color: #e9b44c;
$terciary-color: #e4d6a7;
$danger-color: #9b2915;
$disabled-color: #1c110a;
$white: #ffffff;
$black: black;

$small-size: 12px;
$medium-size: 16px;
$large-size: 20px;

$padding-small: 5px 10px;
$padding-medium: 10px 20px;
$padding-large: 15px 30px;
